.card{
  border: 1px solid rgb(146, 146, 146);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(63, 60, 60);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: rgb(156, 154, 154);
}
.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(154, 149, 149);
}

button{
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
}
.add-button{
  background-color: hsl(125, 47%, 54%);
}
.add-button:hover{
  background-color: hsl(125, 47%, 44%);
}
.delete-button{
  background-color: hsl(11, 98%, 49%);
}
.delete-button:hover{
  background-color: hsl(11, 98%, 39%);
}
.move-button{
  background-color: hsl(210, 100%, 63%);
}
.move-button:hover{
  background-color: hsl(210, 100%, 53%);
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}

ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}

